{% extends "base.html" %}
{% block title %}Salary{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<!-- Header  -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>Salary Sheet</b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-end  end-0">

                                <!-- MODAL -->
                                <div class="modal " id="exampleModal1" tabindex="-1"
                                     aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog vh-100  modal-dialog-scrollable justify-content-end p-0 me-0 mt-0 mb-0">
                                        <div class="modal-content vh-100">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel1"> Salary Data </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form action="{{url_for('dashboard')}}" method="POST" id="salarydata">
                                                <div class="modal-body inline">
                                                    <label for="hrapercentage" class="col-3">HRA</label>
                                                    <input type="text" name="hrapercentage" id="hrapercentage" value=""
                                                           class="form-control-sm">
                                                </div>
                                                <div class="modal-body inline">
                                                    <label for="dapercentage" class="col-3">DA</label>
                                                    <input type="text" name="dapercentage" id="dapercentage" value=""
                                                           class="form-control-sm">
                                                </div>
                                                <div class="modal-body inline">
                                                    <label for="deductionpercentage" class="col-3">Leave
                                                        Deduction </label>
                                                    <input type="text" name="deductionpercentage"
                                                           id="deductionpercentage" value="" class="form-control-sm">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" value="submit" class="btn btn-primary">Save
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Salary Percentage
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<!-- Monthly Salary Data -->
<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">

        <div class="row justify-content-between">
            <div class='col d-flex mt-3'>
                <span class="nav-item me-4 mt-2"><b>Salary Sheet</b></span>
                <div class="form-outline  text-start ">
                    <input type="text" class="form-control" id="forminput" placeholder="year"/>
                </div>
            </div>
            <br>
        </div>

        <table class="table mt-4">
            <!-- Table Heading -->
            <thead class="table-secondary" style="background-color:#DFE1E6;">

            <tr class="bg-dark">
                <th scope="col">Month</th>
                <th scope="col">Gross Salary</th>
                <th scope="col">Total PF</th>
                <th scope="col">Total PT</th>
                <th scope="col">Total TDS</th>
                <th scope="col">Net Salary</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>

            </thead>
            <tr class="table-light">
                <tbody style="background-color:#ffffff;">

                <!-- Salary Data -->
                {% for i in data %}
                {% set month_dict = {'001': 'January', '002': 'February', '003': 'March', '004': 'April', '005': 'May',
                '006': 'June', '007': 'July', '008': 'August', '009': 'September', '0010': 'October', '0011':
                'November',
                '0012': 'December'} %}
                <td scope="col" id="demo">{{ month_dict[i[3:]] }}</td>
                <td scope="col">{{ data[i]['grossSalary'] }}</td>
                <td scope="col">{{ data[i]['epfo'] }}</td>
                <td scope="col">{{ data[i]['pt'] }}</td>
                <td scope="col">{{ data[i]['tds'] }}</td>
                <td scope="col">{{ data[i]['netSalary'] }}</td>
                <td scope="col " class="text-start pending"><p>STS</p></td>
                <td scope="col d-flex">
                    <ul class="nav ">
                        <!-- Download icon  -->
                        <li class="nav-item d-inline"><a class="nav-link" href="{{url_for('pdf',salid=i)}}">
                            <i class="fa fa-download"></i>
                        </a>
                        </li>
                        <!-- Eye icon  -->
                        <li class="nav-item  d-inline"><a class="nav-link"
                                                          href="{{url_for('salary_sheet_view',salid=i)}}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        </li>
                        <!-- Delete icon  -->
                        <!--                    <li class="nav-item d-inline"><a class="nav-link" href="#">-->
                        <!--                        <i class="fa fa-trash"></i>-->
                        <!--                    </a>-->
                        <!--                    </li>-->
                    </ul>

                </td>
            </tr>

            {% endfor %}

            <tbody>
        </table>

    </div>
</div>


{% endblock %}