{% extends "base.html" %}
{% block title %}Salary{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<!-- Header -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>Create Salary Sheet</b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Buttons  -->
<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">

        <div class="row justify-content-between">
            <div class='col d-flex mt-3'>
                <span class="nav-item me-4 mt-2"><b>Salary Sheet</b></span>
                <div class="form-outline  text-start ">
                    {% set month_dict = {'001': 'January', '002': 'February', '003': 'March', '004': 'April',
                    '005': 'May', '006': 'June', '007': 'July', '008': 'August', '009': 'September', '0010': 'October',
                    '0011': 'November', '0012': 'December'} %}
                    <input type="text" class="form-control" id="forminput" placeholder="{{ month_dict[salid[3:]] }}"/>
                </div>
            </div>
            <div class="col end-0 mt-3">
                <ul class="nav justify-content-end  end-0 mb-4 mt-2">
                    <li class="nav-item me-4">
                        <div class="dropdown">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Submit for Approval
                            </button>
                        </div>
                    </li>
                    <li class="nav-item me-4">
                        <div class="dropdown">
                            <a href="{{url_for('pdf',salid=salid)}}">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Download All
                            </button>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item me-4">
                        <div class="dropdown">
                            <a href="{{url_for('excel_for_bank',salid=salid)}}">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Generate Excelsheet
                            </button>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Employees Salary Data -->

        <table class="table table-bordered" style="border: 2px solid black !important;">

            <!-- Table Header  -->
            <thead class="text-center center align-baseline">
            <tr class="border-bottom" scope="row" style="border: 2px solid !important;">
                <th scope="col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Employee Name</th>
                <th scope="col rwo-2" rowspan="2" class="align-middle" style="background-color: #DFE1E6;"> Leave Taken For LWP</th>
                <th scope="row" colspan="8" class="align-middle" style="background-color: #DCFDD9;">Earning</th>
                <th scope="row col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Gross Salary</th>
                <th scope="col-6" colspan="6" class="align-middle" style="background-color: #FDD9DB;">Deduction</th>
                <th scope="row-2 col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Net Payable</th>
                <th rowspan="2" class="align-middle" style="background-color: #DFE1E6;"></th>
            </tr>
            <tr class="border-bottom" style="border:2px solid black !important;">
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Basic</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">HRA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">DA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Other Allowance</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Incentive</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Arrears</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Outstanding Adjustments</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Statutory Bonus</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">EPFO</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">PT</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">TDS</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Leave Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Other Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Outstanding Adjustment</th>
            </tr>
            </thead>

            <!-- Salary data  -->
            <tbody style="background-color:#ffffff;" class="text-center">
                {% for i in data%}

                <tr>
                    <td scope="col" >{{data[i]['employeeName']}}</td>
                    <td scope="col">{{ data[i]['lwp'] }}</td>
                    <td scope="col">{{data[i]['basic']}}</td>
                    <td scope="col">{{data[i]['hra']}}</td>
                    <td scope="col">{{data[i]['da']}}</td>
                    <td scope="col">{{data[i]['otherAllowance']}}</td>
                    <td scope="col">{{data[i]['incentive']}}</td>
                    <td scope="col">{{data[i]['arrears']}}</td>
                    <td scope="col">{{data[i]['grsOutstandingAdjustment']}}</td>
                    <td scope="col">{{data[i]['statutoryBonus']}}</td>
                    <td scope="col">{{data[i]['grossSalary']}}</td>
                    <td scope="col">{{data[i]['epfo']}}</td>
                    <td scope="col">{{data[i]['pt']}}</td>
                    <td scope="col">{{data[i]['tds']}}</td>
                    <td scope="col">{{data[i]['leaveDeduction']}}</td>
                    <td scope="col">{{data[i]['otherDeduction']}}</td>
                    <td scope="col">{{data[i]['dedOutstandingAdjustment']}}</td>
                    <td scope="col">{{data[i]['netSalary']}}</td>
                    <td scope="col">

                        <!-- Edit Button  -->
                         <a href="{{url_for('salary_sheet_edit_',empid=data[i]['userID'],salid=salid)}}">
                        <button class="btn border-1 btn-secondary" type="button" aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#2F3990; border-color:#2F3990; background-color: #FFFFFF">
                            Edit
                        </button>
                    </a>
                    </td>
                </tr>
                

                {% endfor%}
            </tbody>
        </table>

    </div>
</div>



{% endblock %}