{% extends "base.html" %}
{% block title %}TDS Data{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<!-- Header  -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>TDS Data</b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #E7E7E7;">
<div class="container-fluid p-3">


    <!-- TDS Data  -->
   <div class="col-lg-12">
       <div class="card mb-3 mt-3">
           <div class="row">
               <div class="col-12">
                   <div class="container-fluid">

                       <!--Principle on Home Loan -->
                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Principal on Home loan</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Application
                                           No.
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Principal on Home loan"]["applicationNo"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Loan Amount</th>
                                       <td class="col-3">{{ data["tds_data"]["Principal on Home loan"]["loanAmount"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Period of Home Loan
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Principal on Home loan"]["PeriodofHomeLoan"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of Person
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Principal on Home loan"]["nameofPerson"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Annual
                                           Interest
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Principal on Home loan"]["annualInterest"] }}
                                       </td>
                                   </tr>

                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>

                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Premium on Insurance-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Premium on Insurance</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Insurance No.
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Premium on Insurance"]["insuranceNo"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Annual Amount of
                                           Policy
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Premium on Insurance"]["annualAmountofpolicy"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of Insured
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Premium on Insurance"]["nameofInsured"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Self)-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Health Insurance (Self)</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Insurance No.
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Self)"]["insuranceNo"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Annual Amount of
                                           Policy
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Self)"]["annualAmountofpolicy"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of
                                           Insured
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Self)"]["nameofInsured"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Period of
                                           Insurance
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Self)"]["periodofInsurance"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Spouse)-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Health Insurance (Spouse)</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Insurance No.
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Spouse)"]["insuranceNo"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Annual Amount of
                                           Policy
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Spouse)"]["annualAmountofpolicy"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of
                                           Insured
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Spouse)"]["nameofInsured"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Period of
                                           Insurance
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Spouse)"]["periodofInsurance"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Father)-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Health Insurance (Father)</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Insurance No.
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Father)"]["insuranceNo"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Annual Amount of
                                           Policy
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Father)"]["annualAmountofpolicy"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of Insured
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Father)"]["nameofInsured"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Period of Insurance
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Health Insurance (Father)"]["periodofInsurance"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Interest on Home Loan-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Interest on Home Loan</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Annual Interest Payable/Paid
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Interest on Home Loan"]["annualInterestPayable/Paid"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">PAN of Lender
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Interest on Home Loan"]["panofLender"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of Person
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Interest on Home Loan"]["nameofPerson"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Annual House Rent-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Annual House Rent</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Current Month Rent
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Annual House Rent"]["currentMonthRent"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Landloard PAN
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Annual House Rent"]["lenderPAN"] }}</td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Period of Date
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Annual House Rent"]["periodofDate"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Name of Landloard
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Annual House Rent"]["nameofLandloard"] }}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th class="col-3">Landloard Address
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Annual House Rent"]["landloardAddress"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--ELSS(SIP)-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>ELSS(SIP)</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Annual Amount
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["ELSS(SIP)"]["annualAmount"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Period of
                                           Date
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["ELSS(SIP)"]["periodofDate"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Tution Fee-->

                       <div class="row mt-3">
                           <div class="col-12">
                               <h3>Tution Fee</h3>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Annual Amount
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Tution Fee"]["annualAmount"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                           <div class="col-6">
                               <table class="table table-striped">
                                   <thead>
                                   <tr>
                                       <th class="col-3">Period of
                                           Date
                                       </th>
                                       <td class="col-3">{{ data["tds_data"]["Tution Fee"]["periodofDate"] }}
                                       </td>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   </tbody>
                               </table>
                           </div>
                       </div>

                   </div>
               </div>
           </div>
       </div>
   </div>

</div>
</div>


{% endblock %}